<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">
    <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLinkActive="active"  >{{getTitle()}}</a>
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link pr-0" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <div class="media-body ml-2 d-none d-lg-block">
              <span id="usuarioLogeado" class="mb-0 text-sm  font-weight-bold">{{usuarioLogeado}}</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div   class="dropdown-item" [routerLink]="['/change-password']">
            <i class="ni ni-key-25"></i>
            <span>Cambiar contraseña</span>
          </div>         
          <div   class="dropdown-item" (click)="onLogout()">
            <i class="ni ni-user-run"></i>
            <span>Logout</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
