<div class="header bg-primary py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <strong>
            <h1 class="text-white">Cambio de Contraseña</h1>
          </strong>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form role="form" [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" formControlName="oldPassword" placeholder="Contraseña Actual"
                [type]="show_button[0] ? 'text' : 'password'"   >
                <div class="input-group-prepend pointer" (click)="showPassword(0)">
                  <span class="input-group-text"><i      [class]="show_eye[0] ? 'ni fa fa-eye' : 'ni fa fa-eye-slash'"  ></i></span>
                </div>
              </div>
              <div
                *ngIf="changePasswordForm.controls.oldPassword.invalid && changePasswordForm.controls.oldPassword.touched">
                <small class="text-left" *ngIf="changePasswordForm.controls.oldPassword.errors?.minlength">
                  La longitud minima es 6 caracteres</small>
                <small class="text-left" *ngIf="changePasswordForm.controls.oldPassword.errors?.required">
                  Se requiere ingresar contraseña actual</small>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" formControlName="newPassword" placeholder="Nueva Contraseña"
                [type]="show_button[1] ? 'text' : 'password'" >
                  <div class="input-group-prepend pointer" (click)="showPassword(1)">
                    <span class="input-group-text"><i      [class]="show_eye[1] ? 'ni fa fa-eye' : 'ni fa fa-eye-slash'"  ></i></span>
                  </div>
              </div>
              <div *ngIf="changePasswordForm.controls.newPassword.invalid && changePasswordForm.controls.newPassword.touched">
                <small class="text-left" *ngIf="changePasswordForm.controls.newPassword.errors?.minlength">
                  La longitud minima es 6 caracteres </small>
                <small class="text-left" *ngIf="changePasswordForm.controls.newPassword.errors?.required">
                  Se requiere ingresar nueva contraseña </small>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" formControlName="confirmedPassword" placeholder="Confirme Nueva Contraseña"
                [type]="show_button[2] ? 'text' : 'password'" >
                  <div class="input-group-prepend pointer" (click)="showPassword(2)">
                    <span class="input-group-text"><i      [class]="show_eye[2] ? 'ni fa fa-eye' : 'ni fa fa-eye-slash'"  ></i></span>
                  </div>
              </div>
              <div *ngIf="changePasswordForm.controls.confirmedPassword.invalid && changePasswordForm.controls.confirmedPassword.touched">
              <small class="text-left" *ngIf="changePasswordForm.controls.confirmedPassword.errors?.minlength">
                La longitud minima es 6 caracteres</small>
              <small class="text-left" *ngIf="changePasswordForm.controls.confirmedPassword.errors?.required">
                Se requiere ingresar confirmar nueva contraseña</small>
             </div>
            </div>

            <div *ngIf="diferent"><small class="text-left">
                La nueva contraseña y confirmacion contraseña no coinciden</small></div>
            <div class="text-center">
              <button type="button" class="btn btn-secondary mt-4" (click)="retrocederFirstLogin()">Atras</button>
              <button type="submit" class="btn btn-primary mt-4" [disabled]="changePasswordForm.invalid">Cambiar
                Contraseña</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>