<form [formGroup]="crearUserForm" (ngSubmit)="crearUsuario()">
    <div style="color: black;" class="modal-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Email</label>
                    <input type="text" class="form-control" formControlName="username" maxlength="120">
                    <div *ngIf="crearUserForm.controls.username.invalid && crearUserForm.controls.username.touched">
                        <small id="requiredNewNombres" class="text-left"
                            *ngIf="crearUserForm.controls.username.errors?.required">
                            Se requiere email</small>
                        <small id="patternNewNombres" class="text-left"
                            *ngIf="crearUserForm.controls.username.errors?.email">
                            El email ingresado tiene formato invalido</small>
                        <small id="minlengthNewNombres" class="text-left"
                            *ngIf="crearUserForm.controls.username.errors?.minlength">
                            La longitud minima del email es de 6 caracteres</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Estado</label>
                    <input type="text" class="form-control" placeholder="CREADO" readonly   maxlength="120" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Rol</label>
                    <select id="inputEstado" class="form-control" formControlName="role">
                        <option [value]="'admin'">admin</option>
                        <option [value]="'tramitador'">tramitador</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nombres</label>
                    <input type="text" class="form-control" formControlName="nombre" oninput="alpha(this)" maxlength="80">
                    <div *ngIf="crearUserForm.controls.nombre.invalid && crearUserForm.controls.nombre.touched">
                        <small id="requiredNewNombres" class="text-left"
                            *ngIf="crearUserForm.controls.nombre.errors?.required">
                            Se requiere ingresar nombres</small>
                        <small id="patternNewNombres" class="text-left"
                            *ngIf="crearUserForm.controls.nombre.errors?.pattern">
                            El nombre ingresado tiene formato invalido</small>
                        <small id="minlengthNewNombres" class="text-left"
                            *ngIf="crearUserForm.controls.nombre.errors?.minlength">
                            La longitud minima del nombre es de 4 caracteres</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Apellido Paterno</label>
                    <input type="text" class="form-control" formControlName="apellidoPaterno" oninput="alpha(this)" maxlength="120">
                    <div
                        *ngIf="crearUserForm.controls.apellidoPaterno.invalid && crearUserForm.controls.apellidoPaterno.touched">
                        <small id="requiredNewPaterno" class="text-left"
                            *ngIf="crearUserForm.controls.apellidoPaterno.errors?.required">
                            Se requiere ingresar apellido paterno</small>
                        <small id="patternNewPaterno" class="text-left"
                            *ngIf="crearUserForm.controls.apellidoPaterno.errors?.pattern">
                            El apellido paterno ingresado tiene formato invalido</small>
                        <small id="minlengthNewPaterno" class="text-left"
                            *ngIf="crearUserForm.controls.apellidoPaterno.errors?.minlength">
                            La longitud minima del apellido paterno es de 2 caracteres</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Apellido Materno</label>
                    <input type="text" class="form-control" formControlName="apellidoMaterno" oninput="alpha(this)" maxlength="120">
                    <div
                        *ngIf="crearUserForm.controls.apellidoMaterno.invalid && crearUserForm.controls.apellidoMaterno.touched">
                        <small id="requiredNewPaterno" class="text-left"
                            *ngIf="crearUserForm.controls.apellidoMaterno.errors?.required">
                            Se requiere ingresar apellido materno</small>
                        <small id="patternNewPaterno" class="text-left"
                            *ngIf="crearUserForm.controls.apellidoMaterno.errors?.pattern">
                            El apellido materno ingresado tiene formato invalido</small>
                        <small id="minlengthNewPaterno" class="text-left"
                            *ngIf="crearUserForm.controls.apellidoMaterno.errors?.minlength">
                            La longitud minima del apellido materno es de 2 caracteres</small>
                    </div>
                </div>
            </div>
        </div>

      

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="crearUserForm.invalid">Crear Usuario</button>
    </div>
</form>