<div class="header bg-primary py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Bienvenido!</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">

          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <p>Ingrese sus credenciales</p>
            </div>
            <form role="form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" formControlName='username' maxlength="50" placeholder="Email"
                    type="email">
                </div>
                <div *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched">
                  <small id="validEmail" class="text-left" *ngIf="loginForm.controls.username.errors?.email">
                    Debe ingresar un Email valido</small>
                  <small id="requiredEmail" class="text-left" *ngIf="loginForm.controls.username.errors?.required">
                    Se requiere ingresar Email</small>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input class="form-control" formControlName='password' placeholder="Password" [type]="show_button ? 'text' : 'password'" >
                  <div class="input-group-prepend pointer" (click)="showPassword()">
                    <span class="input-group-text"><i      [class]="show_eye ? 'ni fa fa-eye' : 'ni fa fa-eye-slash'"  ></i></span>
                  </div>
                   
            
                </div>
                <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                  <small id="minLenghtPass" class="text-left" *ngIf="loginForm.controls.password.errors?.minlength">
                    La longitud minima es 6 caracteres</small>
                  <small id="requiredPass" class="text-left" *ngIf="loginForm.controls.password.errors?.required">
                    Se requiere ingresar password</small>
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4" [disabled]="loginForm.invalid">Ingresar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>