<div class="header bg-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Gestion Documentos</h3>
                </div>
                <form class="border p-3 form" [formGroup]="documentosForm" (change)="ngOnChanges()" >
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" (keyup)="ngOnChanges()" placeholder="Codigo Documento" formControlName="filterCodDoc"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <input type="text" placeholder="Nombre Documento" (keyup)="ngOnChanges()" formControlName="filterNomDoc"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </form>

                <div class="card-header">
                    <div class="row">
                        <div class="row col-md-6" style="text-align: left;">
                            <div class="col-md-11">
                                <button type="button" class="btn btn-outline-primary" (click)="crearDocumento()">
                                    <a><i class="fa fa-file" aria-hidden="true"></i>
                                        Nuevo</a>
                                </button>
                            </div>
                        </div>
                        <div class="row col-md-6" style="text-align: right;">
                            <div class="col-md-8">
                                <button type="button" class="btn btn-outline-success" (click)="exportarExcel()">
                                    <a> <i class="fa fa-file-excel" aria-hidden="true"> Excel</i></a>
                                </button>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-outline-danger" (click)="exportarPDF()">
                                    <a> <i class="fa fa-file-pdf" aria-hidden="true"></i> PDF</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive" *ngIf="listaDocumentosOk">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Cod Tramite</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Requisitos</th>
                                <th scope="col">Editar</th>
                                <th scope="col">Eliminar</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let documento of listaDocumentos | 
                        filterDocument:[
                        documentosForm.getRawValue().filterCodDoc,
                        documentosForm.getRawValue().filterNomDoc,
                        ] |  paginate:{itemsPerPage: 5, currentPage:p}">
                            <tr>
                                <td>
                                    {{documento.cod_doc}}
                                </td>
                                <td>
                                    {{documento.nombre}}
                                </td>
                                <td>
                                    {{documento.requisitos}}
                                </td>
                                <td style="padding-left: 35px;">
                                    <i (click)="editarDocumento(documento)" class="ni ni-bullet-list-67"></i>
                                </td>
                                <td style="padding-left: 45px;" (click)="alertDeleteDoc(documento)">
                                    <i class="ni ni-fat-remove"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container d-flex justify-content-center">
                    <pagination-controls (pageChange)="p=$event" previousLabel="Anterior" nextLabel="Siguiente"
                        responsive="true">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal Nuevo Documento -->
<div bsModal class="modal fade" #modalNewDocument="bs-modal" [config]="{backdrop: 'static'}" (onHidden)="listarDocumentos()"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">Nuevo Documento</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalNewDocument.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <app-new-document *ngIf="crearDocumentoOk"></app-new-document>
        </div>
    </div>
</div>


<!-- Modal Editar Documento -->
<div bsModal class="modal fade" #modalEditDocument="bs-modal" [config]="{backdrop: 'static'}" (onHidden)="listarDocumentos()"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-static-name" class="modal-title pull-left">Editar Documento</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="modalEditDocument.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <app-edit-document [in_doc]="documentoSeleccionado" *ngIf="editarDocumentOK"></app-edit-document>
        </div>
    </div>
</div>